<div class="px-5 mx-5">
<br>
  <h2><%= current_user.first_name %>'s Review</h2>

  <%# Searchbar %>
  <div class="row">
    <div class="col-sm-8 my-3">
      <%= form_tag recordings_path, method: :get, class: "d-flex search-form" do %>
        <div>
          <%= label_tag "query", "Search Date:", class: "mr-2 mt-1" %>
          <%= date_field_tag :query,
                params[:query],
                class: "form-control mr-2",
                style: "width: 200px;",
                placeholder: "YYYY-MM-DD"
            %>
          <%= hidden_field_tag :patient, params[:patient] %>
        </div>

        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row m-0">
    <% @searches.each do |search| %>
      <div class="col-12 col-sm-6 col-md-3 mb-3">
        <div class="card">
          <% if search.reading > 7.7 %>
            <div>
              <h6>BM: <strong style="color:red"><%= search.reading %></strong> mmol/L</h6>
            </div>
          <% elsif search.reading >= 4.5 && search.reading <= 7.7 %>
            <h6>BM: <strong style="color:green"><%= search.reading %></strong> mmol/L</h6>
          <% elsif search.reading < 4.5 %>
            <h6>BM: <strong style="color:blue"><%= search.reading %></strong> mmol/L</h6>
          <% end %>
          <h6>Timing: <%= search.time %></h6>
          <h6>Meal details: <%= search.ingredients %></h6>
          <%= link_to "Edit", edit_recording_path(search) %>
          <%= link_to "Delete", recording_path(search), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>






  <h1>View your Readings</h1>


  <%# <%= link_to "Add Glucose", new_recording_path, class: "btn btn-flat" %>
  <br>
  <br>
<div class="trends-border">
  <div class="row m-0">
    <% @blood_glucose_recordings.each do |recording| %>
      <div class="col-12 col-sm-6 col-md-3 mb-3">
        <div class="card">
          <% if recording.reading > 7.7 %>
            <div>
              <h6><strong> Glucose: </strong><strong style="color:red"><%= recording.reading %></strong> mmol/L</h6>
              <h6><strong> Date: </strong><%= recording.date.strftime("%d/%m/%Y") %></h6>
              <h6><strong> Time: </strong><%= recording.time %></h6>
              <h6><strong> Meal: </strong> <%= recording.ingredients.truncate(25) %></h6>
            </div>
          <% elsif recording.reading >= 4.5 && recording.reading <= 7.7 %>
            <div>
              <h6><strong> Glucose: </strong><strong style="color:green"><%= recording.reading %></strong> mmol/L</h6>
              <h6><strong> Date: </strong> <%= recording.date %></h6>
              <h6><strong> Time: </strong><%= recording.time %></h6>
              <h6><strong> Meal: </strong><%= recording.ingredients.truncate(25) %></h6>
            </div>
          <% elsif recording.reading < 4.5 %>
            <div>
              <h6><strong> Glucose: </strong><strong style="color:blue"><%= recording.reading %></strong> mmol/L</h6>
              <h6><strong> Date: </strong><%= recording.date %></h6>
              <h6><strong> Time: </strong><%= recording.time %></h6>
              <h6><strong> Meal: </strong><%= recording.ingredients.truncate(25) %></h6>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%if current_user.clinician? == false %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Back to Dashboard", clinician_dashboard_path, class: "btn btn-primary" %>
  <% end %>
</div>
