<div class="dashboard-page">
  <h2>Clinician Dashboard</h2>

  <div class="intro">
    <h2>Welcome, <%= current_user.first_name %>!</h2>
    <p>Please see a list of all your patients below:</p>
  </div>

  <div class="mini-profile actions">
    <div>
      <h3>Profile</h3>
      <p><strong>Name:</strong> <%= current_user.first_name %> <%= current_user.last_name %></p>
      <p><strong>Status:</strong> <%if current_user.clinician? %><%= "You are a member of staff" %><%end%></p>
    </div>
    <div class="right-side">
      <div class="calendar">
        <h3>Calendar</h3>
        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>May<br><span style="font-size:18px">2024</span></li>
          </ul>
        </div>
        <ul class="weekdays">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>
        <ul class="days">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li><span class="active">21</span></li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
        </ul>
      </div>
    </div>
  </div>

   <div class="actions">
    <div class="left-side">
      <div class="current-progress">
        <h3>See patients</h3>
        <% @patients.each do |patient| %>
          <div class="card">
            <p><strong>Full Name:</strong> <%= patient.first_name %> <%= patient.last_name %></p>
            <p><strong>D.O.B:</strong> <%= patient.birthday %></p>
            <p><strong>Due Date:</strong> <%= patient.due_date %></p>
             <%# <% current_user.patient_consultations.each do |consultation| %>
              <%# <div style= "background-color: pink; border-radius: 5px; padding: 2px 10px;"><%= link_to "Click to chat with your Patient", chatroom_path(consultation.chatroom)  %>
              <%# <% end %>
              <%= link_to chatroom_path(patient.consultations.last.chatroom) do %>
              💬
              <% end %>
            </div>


              <div class="buttons-meals-group">
                <%= link_to "View trend", recordings_path(patient: patient), class: "button-meals-btn" %>
              </div>
            <%# <p><%= link_to "See Patient profile", recordings_path(patient: patient) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# User.last.consultations.last.chatroom %>

<%# User.first.consultations.first.chatroom %>
