
<div class="dashboard-page">

<!-- Introduction and Mini-Profile -->
<div class="intro" style="margin: 25px 50px">
  <h2>Welcome, <%= current_user.first_name %>!</h2>
  <br>
  <p>Keeping track of your glucose levels during pregnancy is vital for the well-being of both you and your baby. </p>
  <p>Glucomama  is here to help you.</p>
  </div>
  <div class="mini-profile actions" style="margin: 25px 50px">
      <div class="mini-profile-info" >
        <h3>Profile</h3>

        <div class="d-flex">
         <% current_user.consultations.each do |consultation| %>
          <h4><strong>Your clinician is called :</strong> <%= consultation.clinician.first_name %> </h4>
          <%= link_to  chatroom_path(consultation.chatroom) do  %>
            <div style="font-size: 30px">💬</div>
          <% end %>
         <% end %>
        </div>



        <p><strong>Name:</strong> <%= current_user.first_name %></p>
        <p><strong>Birthday:</strong><%= current_user.birthday %></p>
        <p><strong>Due Date:</strong><%= current_user.due_date %></p>
        <p>


      </div>
        <div class="buttons-dashboard-group">
        <div class="button-container">
          <div class="buttons-dashboard" style="padding: 0px">
            <%= link_to new_recording_path do %>
              <%= image_tag("monitor.png", alt: "input", class: "small-icon btn") %>
              <p class="text-center">Add Glucose</p>
            <% end %>
          </div>
          <div class="buttons-dashboard">
            <%= link_to meals_path do %>
              <%= image_tag("addmeal.png", alt: "input", class: "small-icon btn") %>
              <p class="text-center">Recipes</p>
            <% end %>
          </div>
          <div class="buttons-dashboard">
            <%= link_to recordings_path do %>
              <%= image_tag("trend.png", alt: "input", class: "small-icon btn") %>
              <p class="text-center">View trends</p>
            <% end %>
          </div>
        </div>
      </div>


  </div>


<div class="actions">

  <div class="left-side">
    <!-- Current Progress Widget -->
    <div class="current-progress">
      <h3>Current Progress</h3>
      <% if current_user.recordings.any? %>
        <p><%= "Your current blood glucose level is #{current_user.recordings.last.reading}." %></p>
      <% else %>
        <p><%= "Please log your blood glucose reading to track your progress." %></p>
      <% end %>
    </div>

  <!-- Trends in BM -->
        <div class="trends">
          <h3>Blood Glucose Trends</h3>
          <p><%= "Your blood glucose levels have been stable for the past few days." %></p>
          <% if current_user.recordings.where(created_at: Date.today.prev_day.all_day).any? %>
            <%= image_tag("image.png", alt: "Day before trend", class: "img") %>
          <% else %>
            <p><%= "No recordings found for the day before." %></p>
          <% end %>
        </div>
  </div>
     <!-- Buttons to redirect to Recipe and Glucose Input pages -->
     <div class="right-side">
        <div class="calendar">
            <h3>Calendar</h3>

              <div class="month">
                <ul>
                  <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li>
                  <li>May<br><span style="font-size:18px">2024</span></li>
                </ul>
              </div>

              <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>

              <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li><span class="active">22</span></li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
              </ul>

          </div>
      </div>




  </div>
</div>


<!--
    <div class="buttons">
      <h3>Actions</h3>
      <%# <%= img_to %>
      <%= link_to new_recording_path do %>
        <%= image_tag("Gluco_back.png", alt: "input", class: "small-icon btn") %>
      <% end %>
      <%= link_to meals_path do %>
        <%= image_tag("meals.png", alt: "input", class: "small-icon btn") %>
      <% end %>
      <%= button_to "Explore Recipes", "#", class: "btn" %>
      <%= button_to "View Blood Glucose", "#", class: "btn" %>
    </div>

  </div>
</div>

  <%= link_to "Back to Dashboard", dashboard_path %> -->
