<!-- dashboard.html.erb -->
<!-- Introduction and Mini-Profile -->
<div class="intro" style="margin: 50px">
  <h2>Welcome, <%= current_user.first_name %>!</h2>
  <p>Tracking your glucose levels during pregnancy is crucial for a healthy you and your baby.</p>
  <div class="mini-profile actions" style="margin: 50px">
      <div>
        <h3>Profile</h3>
        <p><strong>Name:</strong> Amy Santiago<%= current_user.first_name %></li></p>
        <p><strong>Due Date:</strong> 31.05.2024<%= current_user.due_date %></p>
      </div>
      <div class="right-side">
        <div class="calendar">
            <h3>Calendar</h3>

              <div class="month">
                <ul>
                  <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li>
                  <li>May<br><span style="font-size:18px">2024</span></li>
                </ul>
              </div>

              <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>

              <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li><span class="active">17</span></li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
              </ul>

          </div>
      </div>
  </div>
</div>

<div class="actions">

  <div class="left-side">
    <!-- Current Progress Widget -->
    <div class="current-progress">
      <h3>Current Progress</h3>
      <% if current_user.recordings.any? %>
        <p><%= "Your current blood glucose level is #{current_user.recordings.last.reading}." %></p>
      <% else %>
        <p><%= "Please log your blood glucose reading to track your progress." %></p>
      <% end %>
    </div>

  <!-- Trends in BM -->
    <div class="trends">
      <h3>Blood Glucose Trends</h3>
      <%= image_tag("image.png", alt: "input", class: "img") %>
      <!-- Chart or graph to display trends in BM readings -->
      <%#= chart_data %>
    </div>
  </div>
     <!-- Buttons to redirect to Recipe and Glucose Input pages -->



    <div class="buttons">
      <h3>Actions</h3>
      <%# <%= img_to %>
      <%= link_to new_recording_path do %>
        <%= image_tag("Gluco_back.png", alt: "input", class: "small-icon btn") %>
      <% end %>
      <%= link_to meals_path do %>
        <%= image_tag("meals.png", alt: "input", class: "small-icon btn") %>
      <% end %>
      <%= button_to "Explore Recipes", "#", class: "btn" %>
      <%= button_to "View Blood Glucose", "#", class: "btn" %>
    </div>

  </div>
</div>
<div class="px-5 mx-5">


  <h2><%= current_user.email %>'s Review</h2>

  <%# Searchbar %>
  <div class="row justify-content-center" >
    <div class="col-sm-8 my-3">
      <%= form_tag dashboard_path, method: :get, class: "d-flex" do %>
        <%= label_tag "query", "Search Date:", class: "mr-2 mt-1" %>
        <%= date_field_tag :query,
              params[:query],
              class: "form-control mr-2",
              style: "width: 200px;",
              placeholder: "YYYY-MM-DD"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row m-0">
    <% @searches.each do |search| %>
      <div class="col-12 col-sm-6 col-md-3 mb">
        <div class="card">
          <% if search.reading > 5 %>
            <div>
              <h6>BM:<strong style="color:red"><%=  search.reading %></strong>mmol/L</h6>

          <% elsif search.reading >= 2 && search.reading <= 4 %>
            <h6>BM:<strong style="color:green"><%=  search.reading %></strong>mmol/L</h6>

          <% elsif search.reading < 2 %>
            <h6>BM:<strong style="color:red"><%=  search.reading %></strong>mmol/L</h6>

          <% end %>
          <h6>Timing:<%= search.time %></h6>
          <h6>Meal details:  <%= search.ingredients %></h6>
          <%= link_to "Edit", edit_entry_path(search) %>
          <%= link_to "Delete", recording_path(search) %>
        </div>
      </div>
    <% end %>
  </div>










  <h1>See all Bloods </h1>

  <%= link_to "Add New BM", new_entry_path %>

  <%# If I don't put a date , i'll see ALL entries%>
  <%# If i do put in a date , I put entries where date == query/what I entered %>

  <div class="row m-0">
    <% @blood_glucose_recordings.each do |recording| %>
      <div class="col-12 col-sm-6 col-md-3 mb-3">
        <div class="card">
          <% if recording.reading > 5 %>
            <div>
              <h6>Glucose:<strong style="color:red"><%=  recording.reading %></strong>mmol/L</h6>
              <h6>Date:<%=  recording.date %></h6>
              <h6>Time:<%=  recording.time %></h6>
              <h6>Meal details?<%= recording.ingredients %></h6>

            </div>

          <% elsif recording.reading >= 2 && recording.reading <= 4 %>
            <div>
              <h6>Glucose:<strong style="color:orange"><%=  recording.reading %></strong> mmol/L</h6>
              <h6>Date:<%=  recording.date %></h6>
              <h6>Time:<%=  recording.time %></h6>
              <h6>Meal details?<%= recording.ingredients %></h6>

            </div>
          <% elsif recording.reading < 2 %>
            <div>
              <h6>Glucose:<strong style="color:red"><%=  recording.reading %></strong>mmol/L</h6>
              <h6>Date:<%=  recording.date %></h6>
              <h6>Time:<%=  recording.time %></h6>
              <h6>Meal details?<%= recording.ingredients %></h6>

            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%# <h1>See all Meals </h1>

  <% @meal_recordings.each do |recording| %>

      <%# <div>
        <strong><h6>Meal:<%=  recording.ingredients </h6></strong>
        <%# <h6>Date:<%=  recording.date </h6>
        <%# <h6>Time:<%=  recording.time </h6>


      </div>
  <% end %>


  <%# <h1>Image here </h1> %>
  <%# <%= line_chart @time.map { |t|
      {name: t.value, data: t.feats.group_by_day(:reading).count}
  } %>

  <%= link_to "Back to Dashboard", dashboard_path %>
