<!-- dashboard.html.erb -->

<!-- Introduction and Mini-Profile -->
<header class="intro">
</header>
  <h2>Welcome, <%= current_user.first_name %>!</h2>
  <p>Tracking your glucose levels during pregnancy is crucial for a healthy you and your baby.</p>
  <div class="mini-profile">
    <h3>Profile</h3>
    <ul>
      <li><strong>Name:</strong> <%= current_user.first_name %></li>
      <li><strong>Email:</strong> <%= current_user.email %></li>
      <li><strong>Date of Birth:</strong> <%= current_user.birthday %></li>
      <li><strong>Due Date:</strong> <%= current_user.due_date %></li>
    </ul>
  </div>
</header>

<!-- Buttons to redirect to Recipe and Glucose Input pages -->
<nav class="actions">
  <div class="calendar">
    <h3>Calendar</h3>

    <div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>May<br><span style="font-size:18px">2024</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li><span class="active">17</span></li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
</ul>
    <%#= calendar_tag %>
  </div>
  <div class="buttons">
    <h3>Actions</h3>
    <%= button_to "Explore Recipes", "#", class: "btn" %>
    <%= button_to "Log Blood Glucose", "#", class: "btn" %>
    <%= button_to "View Blood Glucose", "#", class: "btn" %>
  </div>
</nav>

<!-- Trends in BM -->
<div class="trends">
  <h3>Blood Glucose Trends</h3>
  <!-- Chart or graph to display trends in BM readings -->
  <%#= chart_data %>
</div>

<!-- Current Progress Widget -->
<div class="progress">
  <h3>Current Progress</h3>
  <% if current_user.recordings.any? %>
    <%= "Your current blood glucose level is #{current_user.recordings.last}." %>
  <% else %>
    <%= "Please log your blood glucose reading to track your progress." %>
  <% end %>
</div>
