<div class="container">
  <h1>GlucoMama</h1>
  <h2>Welcome</h2>
</div>

<%# <%= image_tag "welcome_image.jpg", alt: "Welcome Image" %>


<p>About GlucoMama: [Your description here]</p>
<%#
<%= link_to "Add Blood Glucose", new_recording_path %>
<%# <%= link_to "Recipes", recipes_path %>

<div class="container">
  <!-- About GlucoMama Card -->
  <div class="card">
    <%# <%= image_tag "about_glucomama_image.jpg", class: "card-image", alt: "About GlucoMama" %>
    <div class="card-content">
      <h3>About GlucoMama</h3>
      <p>GlucoMama is a platform designed to help individuals manage their blood glucose levels effectively...</p>
      <p>Our mission is to provide tools and resources to empower users to make informed decisions...</p>
    </div>
  </div>

  <!-- Recipe Suggestions Card -->
  <div class="card">
    <%# <%= image_tag "recipe_suggestions_image.jpg", class: "card-image", alt: "Recipe Suggestions" %>
    <div class="card-content">
      <h3>Recipe Suggestions</h3>
      <p>Looking for delicious and nutritious recipes to support your health goals?...</p>
      <p>Explore our collection of curated recipes...</p>
    </div>
  </div>

  <!-- Activity and Exercise Card -->
  <div class="card">
    <%# <%= image_tag "activity_exercise_image.jpg", class: "card-image", alt: "Activity and Exercise" %>
    <div class="card-content">
      <h3>Activity and Exercise</h3>
      <p>Regular physical activity is essential for managing blood glucose levels and overall health...</p>
      <p>Discover tips, exercises, and routines to stay active and healthy...</p>
    </div>
  </div>
</div>
