
<h1><%= @meal.name %></h1>

<div class="meal-details">
  <p><strong>Note:</strong> <%= @meal.note %></p>
  <p><strong>Timing:</strong> <%= @meal.timing %></p>
  <p><strong>Recipe:</strong></p>
  <p><%= @meal.recipe %></p>
  <p><strong>Threshold:</strong> <%= @meal.threshold %></p>
</div>

<%= link_to "Back to Meals", meals_path %>
