<!DOCTYPE html>
<html>
  <head>
    <title>GlucoMama</title>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
      </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="app/assets/images/Gulcomama_official .png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <%= javascript_include_tag 'calendar' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
     <%= render "shared/footer" %> <!-- This line includes the footer -->
  </body>
</html>
